<a class="nav-link" href="javascript:void(0)" role="button" data-toggle="dropdown">
	<img src="~/Prota/prota/images/profile/prota-profile.png" width="20" alt="" />
	<div class="header-info">
		<span class="text-black"><strong>@ViewBag.UserName</strong></span>
		<p class="fs-12 mb-0">@ViewBag.rol</p>
	</div>
</a>