<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Prota-Web Portalı Yönetim Paneli</title>
	<link rel="icon" type="image/png" sizes="16x16" href="~/Prota/prota/images/prota.ico">
	<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="~/Prota/prota/vendor/chartist/css/chartist.min.css">
	<link href="~/Prota/prota/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="~/Prota/prota/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link href="~/Prota/prota/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
	


</head>